* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* MENU BOX */

#menuIcon {
    width: 50px;
    position: fixed;
    top: 40px;
    right: 80px;
    cursor: pointer;
    z-index: 100;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}

.menu-box {
    width: 0;
    height: 0;
    position: fixed;
    background: rgba(238, 235, 235, 0.92);
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 9;
    border-bottom-left-radius: 30%;
    transition: width 0.5s, height 0.5s, border-radius 0.5s;
}

.menu-box.open-menu {
    width: 100%;
    height: 100vh;
    border-bottom-left-radius: 0;
}

.menu-box.open-menu ul li {
    opacity: 1;
    transform: translateY(0);
    transition: transform 1s, opacity 1s;
    transition-delay: 0.5s;
}

.menu-box ul li {
    list-style: none;
    display: inline-block;
    margin: 25px;
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s, transform 0.5s;
}

.menu-box ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 21px;
    position: relative;
    background-color: white;
    padding: 10px 15px;
}

.menu-box ul li a:hover {
    display: inline-block;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px 15px;
    transform: translateY(-6px);
    transition: 0.5s, transform 0.5s;
}

/* MAIN CONTAINER - HOME */

.mainContainer {
    display: flex;
    background: #FFFFFF;
    flex-direction: row-reverse;
}

.backgroundImage {
    display: flex;
    width: 50%;
    height: 100vh;
  }

.infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px;
    width: 50%;
}

.texto {
    display: flex;
    flex-direction: column;
  }

.texto h1 {
    margin-top: 30px;
    margin-bottom: 0px;
    font-style: normal;
    font-size: 35px;
    line-height: 47px;
    color: #000000;
  }

.explicacao {
    margin: 15px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 13.8px;
    line-height: 17px;
    color: #000000;
  }

.botao {
    text-decoration: none;
    background-color: #000000;
    padding: 10px 15px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
}

.boxBotao {
    margin-top: 30px;
}

.botao:hover {
    background-color: #333333;
}

@media (max-width: 1260px) {

    .backgroundImage {
        display: none;
    }

    .infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px;
    width: 100%;
    }
}

/* SOBRE MIM */

.sobreMim {
    display: flex;
    background: #FFFFFF;
    flex-direction: column;
    height: 100vh;
}

.barraSobre {
    display: flex;
    background-color: #000000;
    height: 18%;
    align-items: center;
}

.barraSobre h1 {
    color: #FFFFFF;
    font-size: 50px;
    padding-left: 80px;
}

.textoSobre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 82%;
    padding: 60px 80px;
}

.textoSobre p {
    font-size: 15px;
    display: flex;
    text-align: justify;
}

/* PROJETOS */

.projetos {
    display: flex;
    background: #FFFFFF;
    flex-direction: column;
    height: 100vh;
}

.barraProjetos {
    display: flex;
    background-color: #000000;
    height: 18%;
    align-items: center;
}

.barraProjetos h1 {
    color: #FFFFFF;
    font-size: 50px;
    padding-left: 80px;
}

.textoProjetos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 82%;
    padding: 60px 80px;
}

.textoProjetos p {
    font-size: 15px;
    display: flex;
    text-align: justify;
}

/* CONTATO */

.contato {
    display: flex;
    background: #FFFFFF;
    flex-direction: column;
    height: 100vh;
}

.barraContato {
    display: flex;
    background-color: #000000;
    height: 18%;
    align-items: center;
}

.barraContato h1 {
    color: #FFFFFF;
    font-size: 50px;
    padding-left: 80px;
}

.textoContato {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 82%;
    padding: 60px 80px;
}

.textoContato p {
    font-size: 15px;
    display: flex;
    text-align: justify;
}