* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    display: flex;
    background: #FFFFFF;
    flex-direction: row-reverse;
}

.backgroundImage {
    display: flex;
    width: 50%;
    height: 100vh;
  }

.infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px;
    width: 50%;
}

.texto {
    display: flex;
    flex-direction: column;
  }

.texto h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    margin-bottom: 0px;
    font-style: normal;
    font-size: 35px;
    line-height: 47px;
    color: #000000;
  }

.explicacao {
    margin: 15px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13.8px;
    line-height: 17px;
    color: #000000;
  }

.botao {
    text-decoration: none;
    background-color: #000000;
    padding: 10px 15px;
    color: #FFFFFF;
    font-family: Verdana;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
}

.boxBotao {
    margin-top: 30px;
}

.botao:hover {
    background-color: #333333;
}

@media (max-width: 1260px) {

    .backgroundImage {
        display: none;
    }

    .infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px;
    width: 100%;
    }
}


